// === Размеры элементов инвентаря ===
// Контейнеры
$size-inventory-container-width: 47.963vh;
$size-inventory-container-height: 86.203vh;
$size-items-container: 100%;
// Заголовки
$size-title-container-width: 47.963vh;
$size-title-container-height: 6.203vh;
// Единицы вещей
$size-item-inventory-weight: 6.481vh;
$size-item-inventory-height: 6.481vh;
// Радиусы элементов
$border-radius-item: 0.926vh;


