.inventory {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: $padding-inventory-main;
  justify-content: space-between;
}

.inventory-container {
  display: flex;
  position: relative;
  flex-direction: column;
  width: $size-inventory-container-width;
  height: $size-inventory-container-height;
  background-color: $color-bg-block;
  border-radius: 0.926vh;
}

.title-container {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  padding: $padding-container-title;
  background-color: $color-title-bg-block;
  width: $size-title-container-width;
  height: $size-title-container-height;
}

.border-radius-top {
  border-radius: 0.926vh 0.926vh 0 0;
}

.title-container_text {
  display: flex;
  height: 100%;
  width: auto;
}

.indication-weight {
  display: flex;
  height: 100%;
  width: 9.259vh;
  flex-direction: column;
}

.indication-weight_block-text {
  display: flex;
  justify-content: right;
}

.indication-weight_num {
  font-size: $font-size-indication-nums;
}

.indication-weight_num.taken {

}

.indication-weight_num.free {
  color: $color-text-secondary;
}

.indication-weight_num.few {
  color: $color-hud-indication_health;
}

.indication-weight_num.enough {
  color: $color-notification_success;
}

.indication-weight_progress {
  display: flex;
  position: relative;
  width: 100%;
  accent-color: $color-style-main;
}

.inventory-container_things-beside {
  display: flex;
  position: relative;
  height: 25vh;
  width: 100%;
  padding: $padding-inventory-container-things;
}

.inventory-container_things-inventory {
  display: flex;
  position: relative;
  height: 32.407vh;
  width: 100%;
  padding: $padding-inventory-container-things;
}

.inventory-container_things-fast-slot {
  display: flex;
  position: relative;
  height: 10.185vh;
  width: 100%;
  padding: $padding-inventory-container-things;
}

.items-container {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.items-container_item {
  display: flex;
  position: relative;
  width: $size-item-inventory-weight;
  height: $size-item-inventory-height;
  background-color: $color-item-element-bg;
  margin: $margin-items-container-item;
  border-radius: $border-radius-item;
}

.items-container_item.active {
  border: 1px solid $color-style-main;
  box-shadow: $color-style-main_box-shadow;
}

.character-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  flex-wrap: wrap;
  width: 33.555vh;
  height: 67.655vh;
  justify-content: space-between;
  left: 72.650vh;
  top: 19.522vh;
}

.character-container_head {
  display: flex;
  position: relative;
  width: 100%;
}

.character-container_things-cloth {
  display: flex;
  position: relative;
  width: 30%;
}

.character-container_things-weapon {
  display: flex;
  position: relative;
  width: 30%;
  justify-content: flex-end;
}

.character-container_things-shoes {
  display: flex;
  position: relative;
  width: 100%;
  align-items: flex-end;
}

.items-character-top {
  position: relative;
  justify-content: center;
}

.items-character-left {
  position: relative;
  justify-content: flex-start;
}

.items-character-right {
  position: relative;
  justify-content: flex-end;
}

.items-character-bottom {
  position: relative;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}

.craft-container_items-filter {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 22.037vh;
  padding: $padding-inventory-container-things;
  border-bottom: 1px solid $color-container-line;
}

.search-block {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 97.5%;
  background-color: $color-item-element-bg;
  border-radius: 0.926vh;
  margin-bottom: 1.1vh;
  padding: 0 0.925vh 0 0.925vh;
}

.icon {
  display: flex;
  margin: auto 0;
}

.input-search {
  width: 90.5%;
  height: 3.240vh;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  margin-left: 1.166vh;
  font-size: $font-size-indication-nums;
}

.craft-container_items-list {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 55.01vh;
  padding: $padding-inventory-container-things;
}

.craft-container_items-list .items-container_item {
  width: 100%;
  align-items: center;
}

.items-container_item-info-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1.2vh;
}

.items-container_item-image {
  display: flex;
  position: relative;
  width: $size-item-inventory-weight;
  height: $size-item-inventory-height;
  background-color: $color-item-element-image-bg;
  margin: 0;
  border-radius: 0.926vh;
  align-items: center;
  justify-content: center;
}

.items-container_item-image img {
  width: 90%;
  height: 90%;
}

.items-container_item-title {
  font-size: 1.6vh;
  margin-bottom: 0.5vh;
}

.craft-container_items-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 15.370vh;
  padding: $padding-inventory-container-things;
}

.craft-container_items-list .items-container_item.craft-item {
  width: 45%;
}

.craft-container_item-info {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 15.370vh;
  padding: $padding-inventory-container-things;
}

.craft-container_item-image {
  display: flex;
  position: relative;
  height: auto;
  width: 14.630vh;
  margin-right: 1.852vh;
}

.craft-container_item-image img {
  width: 100%;
  height: 100%;
}

.craft-container_item-information {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25.648vh;
  height: auto;
}

.craft-container_item-title {
  display: flex;
  position: relative;
  width: 100%;
  margin-bottom: 1.452vh;
  text-align: left;
  padding-top: 1vh;
  font-size: $font-size-default;
}

.craft-container_item-text {
  display: flex;
  position: relative;
  overflow: auto;
  font-size: 1.4vh;
}

.close-button {
  position: absolute;
  right: 2.555vh;
  top: 1.390vh;
  width: 1.666vh;
  height: 1.666vh;
}

.close-button:before,
.close-button:after {
  position: absolute;
  left: 15px;
  content: '';
  height: 33px;
  width: 1.5px;
  background-color: $color-text-main;
}

.close-button:before {
  transform: rotate(45deg);
}

.close-button:after {
  transform: rotate(-45deg);
}

.buttons-craft {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  height: 5.555vh;
  width: 100%;
  padding: 1.851vh;
  margin-top: 2vh;
}

.buttons-craft_select-count {
  display: flex;
  position: relative;
}

.input-count {
  display: flex;
  position: relative;
  background-color: $color-item-button-bg;
  height: 3.888vh;
  width: 6.481vh;
  align-items: center;
  justify-content: center;
  color: $color-text-main;
  margin: 0 0.925vh 0 0.925vh;
  border-radius: $border-radius-item;
}

.button-minus {
  display: flex;
  position: relative;
  background-color: $color-item-button-bg;
  width: 3.888vh;
  height: 3.888vh;
  align-items: center;
  border-radius: $border-radius-item;
}

.icon-minus {
  position: relative;
  content: '';
  height: 18px;
  width: 1.9px;
  background-color: $color-text-main;
  margin: 0 auto;
  transform: rotate(90deg);
}

.button-plus {
  display: flex;
  position: relative;
  background-color: $color-item-button-bg;
  width: 3.888vh;
  height: 3.888vh;
  align-items: center;
  border-radius: $border-radius-item;
}

.icon-plus {
  position: relative;
  content: '';
  height: 18px;
  width: 1.9px;
  background-color: $color-text-main;
  margin: 0 auto;
}

.icon-plus:after {
  display: flex;
  position: relative;
  content: '';
  height: 18px;
  width: 1.9px;
  background-color: $color-text-main;
  margin: 0 auto;
  transform: rotate(90deg);
}

.button.collect-item {
  display: flex;
  position: relative;
  width: 26.203vh;
  height: 5.092vh;
  background-color: $color-style-main;
  justify-content: center;
  align-items: center;
  border-radius: $border-radius-item;
}



